.fixed{
    transform: translate(-150%,10%);
}
.close{
    transform: translate(-150%,10%);
    animation: close 1s;   
}
@keyframes close{
    from{transform: translate(10%,10%);}
    to{transform: translate(-150%,10%);}
}
.opeen{
    transform: translate(10%,10%);
    animation: opeen 1s;   
}
@keyframes opeen{
    from{transform: translate(-150%,10%);}
    to{transform: translate(10%,10%);}
}
.box_open{
    transform: translate(45%,50%);
    animation: box_open 1s;
    display: block;
}
@keyframes box_open{
    from{transform: translate(45%,-150%);}
    to{transform: translate(45%,50%);}
}
.box_close{
    transform: translate(45%,-150%);
    animation: box_close 1s;
    display: block;
}
@keyframes box_close{
    from{transform:translate(45%,50%);}
    to{transform: translate(45%,-150%);}
}

/* upload progress */
@keyframes progres{
    to{
        background-position: 0 50%;
    }
    from{
        background-position: 100% 50%;
    }
}

/*  Icon */
@keyframes icon_close{
    from{
        background: linear-gradient(90deg,rgba(189, 32, 32),rgba(189, 32, 32),rgba(255, 255, 255),rgba(189, 32, 32),rgba(189, 32, 32));
        background-position: 20% 50%;
    }
    to{
        background: linear-gradient(90deg,rgb(21, 139, 71),rgba(21, 139, 71),rgba(255, 255, 255),rgba(21, 139, 71),rgba(21, 139, 71));
        background-position: 80% 50%;
    }
}

@keyframes play{
    from{
        background: linear-gradient(90deg,rgb(21, 139, 71),rgba(21, 139, 71),rgba(255, 255, 255),rgba(21, 139, 71),rgba(21, 139, 71));
        background-position: 80% 50%;
    }
    to{
        background: linear-gradient(90deg,rgba(189, 32, 32),rgba(189, 32, 32),rgba(255, 255, 255),rgba(189, 32, 32),rgba(189, 32, 32));
        background-position: 20% 50%;
    }
    
}