.fixed{
    transform: translate(-150%,10%);
}
.close{
    transform: translate(-150%,10%);
    animation: close 1s;   
}
@keyframes close{
    from{transform: translate(10%,10%);}
    to{transform: translate(-150%,10%);}
}
.opeen{
    transform: translate(10%,10%);
    animation: opeen 1s;   
}
@keyframes opeen{
    from{transform: translate(-150%,10%);}
    to{transform: translate(10%,10%);}
}
.box_open{
    transform: translate(150%,50%);
    animation: box_open 1s;
}
@keyframes box_open{
    from{transform: translate(150%,-150%);}
    to{transform: translate(150%,50%);}
}
.box_close{
    transform: translate(150%,-150%);
    animation: box_close 1s;
}
@keyframes box_close{
    from{transform:translate(150%,50%);}
    to{transform: translate(150%,-150%);}
}