body{margin:0;padding: 0;background:rgb(49, 47, 47);}
main{width: 100%;background:linear-gradient(90deg,rgb(27, 7, 21),rgb(0, 0, 0),rgb(27, 1, 19) );font-family: Arial, Helvetica, sans-serif;}
main header{width: 100%;background-color:rgba(0, 0, 0, 0.253);color:white;margin-bottom: 5px;overflow:hidden;}
main header h1{margin:0;padding: 0;text-align: center;float: left;}
main header button{margin:0;padding: 5px;float: right;}
main header input{width:70%;margin:auto;padding: 5px;clear: right;}
main article#main{width: 100%;height:900px;margin:auto;overflow: auto;}
main article #video{position:fixed;top:0px;width: 80%;height:60%;background-color:rgba(236, 243, 238, 0.733);z-index: 0;color:white;}
main article #video video,iframe{width: 100%;height:100%;}
main article #video p{width: 70%;text-align: center;}
main article #video video{width: 100%;}
main article #video p{width: 100%;padding: 0;margin: 0;}
main article #video progress{width: 100%;padding: 0;margin: 0;}
main footer {width: 100%;float: left;clear: both;color: white;font-family: monospace;}
main footer header{width: 100%;padding: 0;margin: 0;}
main footer article{width: 100%;}
main footer article section{width: 50%;float: left;}
main footer article aside{width: 50%;padding:0; float: right;}
main footer article a{text-decoration: none;color:white}
main footer article aside #git{width:50%;float: left;margin:5px 0;padding:0;}
main footer article aside #git img{width: 20%;margin:0;padding:0;}
main footer article aside #face{width:50%;float: right;margin:0;padding:0;}
main footer article aside #face img{width: 25%;margin:0;padding:0;}


#playList{
    width: 95%;
    padding: 0;
    margin:auto;
    list-style: none;
    align-items: center;
    color:white;
}
#playList li{
    display: inline-block;
    width: 150px;
    margin:2px;
    padding: 5px;
    align-items: center;
}
#playList li figure{
    padding: 5px;
    margin: 0;
    text-align: center;
    width: 100%;
    background: radial-gradient(rgba(255, 255, 255, 0.5),rgba(92, 62, 62, 0.5));
}
#playList li figure img{
    width: 50%;
    cursor: pointer;
}

figcaption{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 20px;
    display: flex;
    overflow:hidden;
    cursor: pointer;
    transition:background .5s, height .5s;
}
figcaption:hover{
    background: black;
    height: 100%;
}
/* MODAL childs */

.x{
    position: absolute;top:0px;left: 100%;width: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate(-50%,-25%);
    padding: 3px;
    font-size: 100%;background-color: black;color: white;
    transition: background .5s;
    border:1px solid white;
    border-radius: 360px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
}
.x:hover{
    background-color: rgb(199, 12, 12);
}
.info_box{
    width: calc(100%/5);
    float: right;
    font-size: 100%;background-color: black;color: white;
    border:1px solid white;
    transition: background .5s;
    border-radius: 360px;
    text-align: center;
    cursor: pointer;
}
.info_box:hover{
    background-color: rgb(199, 12, 12);
}
.box{
    position: fixed;
    width: 250px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(240, 234, 226);
    border-radius: 11.25px;
    display: none;
}
.box span{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: bolder;
}
#false{
    background: rgb(30, 121, 37);
    color: white;
}
#true{
    background: rgb(121, 30, 30);
    color: white;
}
.box article{width: 95%; padding: 2px;}
.box header{background-color: rgb(189, 32, 32);width: 100%;margin:0px;}
.box header h1{text-align: center;float: none;}
.box p{text-align: justify;}
.box ul{list-style: none;display: flex;padding: 1;}
.box ul li{margin-left: 10px;}
.box input{padding: 10px;}
